/* #region Header */

.header {
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
}

.header-container {
  background: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 335px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav, .soc-list {
  display: none;
}

.logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
  padding-top: 12px;
  padding-bottom: 12px;
}

.burger-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-icon {
  stroke: #1b414b;
}


@media screen and (min-width: 768px) {

  .header {
    top: 32px;
}
 
  .header-container {
    width: 704px;
}

  .logo {
    font-size: 20px;
  }
  .burger-button {
    display: none;
}
  
  .nav {
    display: block;
  }

.nav-list {
  display: flex;
  gap: 4px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(27, 65, 75, 0.5);

  transition: background-color 250ms ease-in;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #1b414b;
}

  .soc-list {
    display: flex;
    gap: 8px;
  }

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: #1b414b;

  transition: color 250ms ease-in;
}

.soc-link:hover,
.soc-link:focus {
  color: #062730;
}

.soc-icon {
  fill: currentColor;
}

}


@media screen and (min-width: 1280px) {

  .header-container {
    width: 1080px;
}


}

/* #endregion */