/* #region Hero */

.hero-section {
  position: relative;
  padding-top: 260px;
  padding-bottom: 243px;
  background-image: linear-gradient(
      to top,
      rgb(17 19 31 / 0.8),
      rgb(17 19 31 / 0.39) 75%,
      rgb(17 19 31 / 0) 98%
    ),
    url(../img/hero/hero-mob.jpg);
  background-repeat: no-repeat;
  width: 375px;
  margin: 0 auto;
  background-size: cover;

  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(
      to top,
      rgb(17 19 31 / 0.8),
      rgb(17 19 31 / 0.39) 75%,
      rgb(17 19 31 / 0) 98%
    ),
    url(../img/hero/hero-mob@2x.jpg);
  }

}

@media screen and (min-width: 768px) {

.hero-section {
  position: relative;
  padding-top: 235px;
  padding-bottom: 180px;
  background-image: linear-gradient(
      to top,
      rgb(17 19 31 / 0.8),
      rgb(17 19 31 / 0.39) 75%,
      rgb(17 19 31 / 0) 98%
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  width: 1280px;
  margin: 0 auto;

    @media (min-resolution: 192dpi) {
    background-image: linear-gradient(
      to top,
      rgb(17 19 31 / 0.8),
      rgb(17 19 31 / 0.39) 75%,
      rgb(17 19 31 / 0) 98%
    ),
    url(../img/hero/hero-mob@2x.jpg);
  }

}
.hero-title {
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 1000px;
}
.hero-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin: 0 auto;
  margin-bottom: 48px;
  width: 600px;
}
.hero-btn {
  display: block;
  border-radius: 15px;
  padding: 16px 40px;
  background-color: #1b414b;
  margin: 0 auto;
  width: 179px;

  transition: color 250ms ease-in, background-color 250ms ease-in;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}


}
/* #endregion */